[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
osmnx = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
torchrl = "*"
vmas = "*"
pettingzoo = "*"
tqdm = "*"
torchvision = "*"
pyav = "*"
highway-env = "*"
gymnasium = "*"
av = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
